<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imedical.mobiledoctor">

    <application
        android:allowBackup="true"
        android:name="com.imedical.mobiledoctor.base.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:theme="@style/AppTheme" >
    <activity
        android:name="com.imedical.mobiledoctor.activity.SplashActivity"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name="com.imedical.mobiledoctor.activity.frg_3.QRActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.frg_3.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.zxing.activity.CaptureActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.detail.LisHis_DetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.PatientListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.CaseActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.CommonBrowserActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.detail.Ris_DetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.TempratureActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.RisActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.detail.Lis_DetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.LisActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.OrdersActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.PatientInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.round.DiagnosisActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.WardRoundActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.frg_1.CriticalValueActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.frg_1.ConsultActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.frg_1.detail.FormConsultInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.frg_1.AntActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.frg_1.detail.FormAntiDrugDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.fragment.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.LoginHospitalActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.im.activity.ImMainActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.im.activity.TalkImageShowActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.im.activity.TalkMsgActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.im.activity.AddDiagnosisActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.im.activity.AdmInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.visit.DateVisitMulitActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.visit.SetDoctorScheduleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.visit.PatientAppScheduleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.visit.DoctorScheduleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.mobiledoctor.activity.visit.UpdateDoctorScheduleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imedical.jpush.activity.MessageDetailActivity" />
        <activity android:name="com.imedical.jpush.activity.MessageActivity" />
        <activity android:name="com.imedical.jpush.activity.WebViewActivity" />
        <receiver
            android:name="com.imedical.jpush.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.imedical.mobiledoctor" />
            </intent-filter>
        </receiver>
        <service android:name="com.imedical.im.SocketService"/>


    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
</manifest>
